body{
    width: 1200px;
    background-color: white;
}

.col-md-1{
    padding: 10px 15px;
    width: 10px;
    height: 60px;
    border: 3px solid white;
    text-align: center;
    background-color: mediumpurple;
}
.col-md-4{
    padding: 10px 15px;
    width: 10px;
    height: 60px;
    border: 3px solid white;
    text-align: center;
    background-color: mediumpurple;
}
.col-md-8{
    padding: 10px 15px;
    width: 10px;
    height: 60px;
    border: 3px solid white;
    text-align: center;
    background-color: mediumpurple;
}
.col-md-12{
    padding: 10px 15px;
    width: 10px;
    height: 60px;
    border: 3px solid white;
    text-align: center;
    background-color: mediumpurple;
}
.col-md-6{
    padding: 10px 15px;
    width: 10px;
    height: 60px;
    border: 3px solid white;
    text-align: center;
    background-color: mediumpurple;
}

